/* Color Scheme */
:root {
  --brand-color: #637795;
  --light-blue: #87a6b1;
  --white: #ffffff;
  --dark: #474c67;

  --background-color: var(--white);
  --background-alt-color: #87a6b1;

  --text-color: var(--dark);
  --text-alt-color: var(--dark);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--dark);

  --button-color: var(--white);
  --button-background-color: var(--light-blue);
  --button-background-hover: var(--brand-color);

  --border-color: #87a6b1;
  --border-color-alt: #87a6b1;

  --th-color: #87a6b1;
  --tr-color: #87a6b1;

  --syntax-highlighting-background: #87a6b1;
}

:root[dark] {
  --brand-color: #637795;
  --light-blue: #87a6b1;
  --white: #ffffff;
  --dark: #474c67;

  --background-color: var(--dark);
  --background-alt-color: #637795;

  --text-color: var(--white);
  --text-alt-color: var(--white);

  --heading-font-color: var(--white);

  --link-color: var(--white);
  --link-color-hover: var(--white);

  --button-color: var(--light-blue);
  --button-background-color: var(--light-blue);
  --button-background-hover: var(--brand-color);

  --border-color: #87a6b1;
  --border-color-alt: #87a6b1;

  --th-color: #87a6b1;
  --tr-color: #87a6b1;

  --syntax-highlighting-background: #87a6b1;
}